* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  padding: 10px;
  background: #efefef;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}
@media (min-width: 600px) {
  body {
    padding: 60px 10px;
  }
}
h1 {
  margin: 0;
  font-family: 'Bree Serif', serif;
  font-size: 36px;
}
p {
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.5;
}
li {
  font-size: 20px;
  line-height: 1.5;
}
a {
  color: #239a3b;
  text-decoration: none;
}
a:hover {
  color: #196127;
}
img {
  width: auto ;
  max-width: 100% ;
  height: auto ;
}
.wrapper {
  width: 100%;
  max-width: 800px;
  min-height: 400px;
  margin: 10px;
  background: #fff;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
}
.header {
  display: flex;
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  background: #e5e5e5;
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}
.input {
  position: absolute;
  opacity: 0;
}
.label {
  width: 100%;
  padding: 20px 30px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition: background 0.1s, color 0.1s;
}
.label:hover {
  background: #d8d8d8;
}
.label:active {
  background: #ccc;
}
.input:focus + .label {
  box-shadow: inset 0px 0px 0px 3px #2aa1c0;
  z-index: 1;
}
.input:checked + .label {
  background: #fff;
  color: #000;
}
@media (min-width: 600px) {
  .label {
    width: auto;
  }
}
.panel {
  display: none;
  padding: 20px 30px 30px;
  background: #fff;
  width: 100%;
}
@media (min-width: 600px) {
  .panel {
    order: 99;
  }
}
.input:checked + .label + .panel {
  display: block;
}
